**/__pycache__/
/.python-version

**/tmp/

# vim detritus
**/*.swp

# For pycharm IDE users
.idea
# For pytest previous tests cache
.pytest_cache
# For the virtual environment
venv
# For Data files from spinning up the containers
Environment_Data/*
!Environment_Data/.keep
# Basic MACOS removal
.DS_Store

