**/__pycache__/
/.python-version

**/tmp/
**/dat/
**/dump/

# vim detritus
**/*.swp

# For pycharm IDE users
.idea
# For pytest previous tests cache
.pytest_cache
# Another cache
**/.mypy_cache/
# For the virtual environment
venv
# For Data files from spinning up the containers
Containers/Environment_Data/*
!Containers/Environment_Data/dashboards
!Containers/Environment_Data/datasources

# Basic MACOS removal
.DS_Store
# Don't save the simulation files
GHOSTSConnection/Simulations
# Don't save GHOSTSConnection log
GHOSTSConnection/Logs/GHOSTSConnection.log
